<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserRoleMapper">

	<resultMap type="SysUserRole" id="SysUserRoleResult">
		<result property="eeId"     column="ee_id"      />
		<result property="roleId"     column="role_id"      />
	</resultMap>

	<select id="selectRoleByEeId" resultMap="SysUserRoleResult">
		select ee_id,role_id from ts_sys_user_role where ee_id = #{eeId}
	</select>

	<delete id="deleteUserRoleByUserId" parameterType="Long">
		delete from ts_sys_user_role where user_id=#{userId}
	</delete>
	
	<select id="countUserRoleByRoleId" resultType="Integer">
	    select count(1) from ts_sys_user_role where role_id=#{roleId}  
	</select>
	
	<delete id="deleteUserRole" parameterType="Long">
 		delete from ts_sys_user_role where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
	
	<insert id="batchUserRole">
		insert into ts_sys_user_role(user_id, role_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.roleId})
		</foreach>
	</insert>

	<insert id="insertUserRole" parameterType="SysUserRole">
		insert into ts_sys_user_role(ee_id, role_id) values
			(#{eeId},#{roleId})
	</insert>

	<delete id="deleteUserRoleByEeId">
		delete from ts_sys_user_role where ee_id=#{eeId}
	</delete>
	
	<delete id="deleteUserRoleInfo" parameterType="SysUserRole">
		delete from ts_sys_user_role where user_id=#{userId} and role_id=#{roleId}
	</delete>
	
	<delete id="deleteUserRoleInfos">
	    delete from ts_sys_user_role where role_id=#{roleId} and user_id in
 	    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
 	        #{userId}
            </foreach> 
	</delete>
</mapper> 